# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# PyCharm
.idea/

# VSCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Log files
*.log

# Python cache
*.egg-info/
.eggs/
dist/
build/
